nodeRed.json
[{"id":"610159ff.e867b8","type":"mqtt in","z":"d80f741.be05088","name":"","topic":"/projetoIoT/dht/temp","qos":"0","datatype":"json","broker":"53a98ee9.35c04","x":509,"y":391,"wires":[["77676df4.947484","11647364.94acdd","a7af2fc2.a7894"]]},{"id":"e833d109.8b3b2","type":"mqtt out","z":"d80f741.be05088","name":"Bomba","topic":"/projetoIoT","qos":"0","retain":"","broker":"53a98ee9.35c04","x":1532,"y":622,"wires":[]},{"id":"f9b35038.1e40e","type":"ui_switch","z":"d80f741.be05088","name":"","label":"Bomba","tooltip":"","group":"ae81694.5a20e98","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/projetoIoT","style":"","onvalue":"{\"bomba\":{\"status\":\"1\"}}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"bomba\":{\"status\":\"0\"}}","offvalueType":"json","officon":"","offcolor":"","x":1367,"y":630,"wires":[["e833d109.8b3b2"]]},{"id":"1fa1f276.ddb32e","type":"mqtt in","z":"d80f741.be05088","name":"Liga Bomba","topic":"/projetoIoT/bomba","qos":"0","datatype":"json","broker":"53a98ee9.35c04","x":393,"y":631,"wires":[[]]},{"id":"b442e748.c4cc48","type":"mqtt in","z":"d80f741.be05088","name":"","topic":"/projetoIoT/soil","qos":"0","datatype":"json","broker":"53a98ee9.35c04","x":497,"y":488,"wires":[["b36c766.4e72488","a7af2fc2.a7894"]]},{"id":"4a57734a.d76e3c","type":"mqtt in","z":"d80f741.be05088","name":"","topic":"/projetoIoT/light","qos":"0","datatype":"json","broker":"53a98ee9.35c04","x":508,"y":306,"wires":[["210078bb.edf258"]]},{"id":"dc15dc7a.28051","type":"range","z":"d80f741.be05088","minin":"0","maxin":"1024","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":1044,"y":221,"wires":[["c83c8197.600fb","a7af2fc2.a7894"]]},{"id":"c83c8197.600fb","type":"ui_gauge","z":"d80f741.be05088","name":"","group":"ae81694.5a20e98","order":1,"width":0,"height":0,"gtype":"gage","title":"LDR","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1333,"y":222,"wires":[]},{"id":"210078bb.edf258","type":"change","z":"d80f741.be05088","name":"Extrator LDR","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.reading","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":792,"y":225,"wires":[["dc15dc7a.28051"]]},{"id":"77676df4.947484","type":"change","z":"d80f741.be05088","name":"Extrator Humidade do Ar","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.data[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":836,"y":330,"wires":[["1b1ef8a4.101917"]]},{"id":"1b1ef8a4.101917","type":"ui_gauge","z":"d80f741.be05088","name":"","group":"ae81694.5a20e98","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidade do Ar","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1331,"y":329,"wires":[]},{"id":"375deea2.cb1bf2","type":"ui_gauge","z":"d80f741.be05088","name":"","group":"ae81694.5a20e98","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura do Ambiente","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1344,"y":419,"wires":[]},{"id":"11647364.94acdd","type":"change","z":"d80f741.be05088","name":"Extrator Temperatura","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":421,"wires":[["375deea2.cb1bf2"]]},{"id":"b36c766.4e72488","type":"ui_text","z":"d80f741.be05088","group":"ae81694.5a20e98","order":4,"width":0,"height":0,"name":"","label":"Humidade do Solo","format":"{{msg.payload.reading}}","layout":"row-spread","x":1349,"y":480,"wires":[]},{"id":"a7af2fc2.a7894","type":"function","z":"d80f741.be05088","name":"","func":"context.ldr = context.ldr || 0.0;\ncontext.temp = context.temp || 0.0\ncontext.hum = context.hum || 0.0\ncontext.soil = context.soil || \"baixa\";\n\nif (msg.topic === \"/projetoIoT/dht/temp\"){\n    context.temp = msg.payload.data[0];\n    context.hum = msg.payload.data[1];\n}\n\nif (msg.topic === \"/projetoIoT/light\"){\n    context.ldr = msg.payload;\n}\n\nif (msg.topic === \"/projetoIoT/soil\"){\n    context.soil = msg.payload.reading;\n}\n\nif (context.ldr > 50 && context.temp > 25 && context.hum < 70 && context.soil === \"baixa\") {\n    return {topic: \"/projetoIoT\", payload: {\"bomba\":{\"status\":\"1\"}}}\n}\nelse {\n    return {topic: \"/projetoIoT\", payload: {\"bomba\":{\"status\":\"0\"}}}\n}\n\n// if (context.ldr > 50) {\n//     return {topic: \"/projetoIoT\", payload: {\"light\": \"high\"}}\n// }\n// else {\n//     return {topic: \"/projetoIoT\", payload: {\"light\": \"low\"}}\n// }","outputs":1,"noerr":0,"x":1201,"y":626,"wires":[["f9b35038.1e40e"]]},{"id":"53a98ee9.35c04","type":"mqtt-broker","z":"","name":"IoT SAEG","broker":"iotsaeg.nc2.iff.edu.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ae81694.5a20e98","type":"ui_group","z":"","name":"Sensores","tab":"ea2cc478.461fc8","disp":true,"width":"6","collapse":false},{"id":"ea2cc478.461fc8","type":"ui_tab","z":"","name":"DHT","icon":"dashboard","disabled":false,"hidden":false}]